#headDiv{
   display: flex;
   justify-content: baseline;
   align-items: center;
   flex-direction: column;
   background-color: aqua;
   border-style: solid;
   border-top: 15px solid violet;
}

#headDDiv{
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}