section {
    width: 90%;
    border: 1px solid gray;
    height: 50vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

header > a,header > a:hover,header > a:visited,header > a:link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header > h2 {
    width: 80%;
    border: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    display: inline-flex;
    padding: 5px 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: none;

}

button:hover{
    background-color: rgb(248, 198, 105);
}

#msg{
    color: brown;
}


#msg > span{
    font-size: xx-large;
    font-weight: bold;
    color: rgb(43, 255, 0);
}

input[type=text]{
    /* text-align: center;  */
    /* display: flex; */
    /* justify-content: center; */
    height: 40px;
    width: 120px;
}

/* input[type=text]>value{
    display: inline-flex;
    justify-content: center;
    align-items: center;
} */

input[type=text]:hover
{
   text-align: center;
   background-color: antiquewhite; 
}

input[type=text]::placeholder{
    text-align: center;
    color: #540bff;
    font-size: 24px;
}